@page {
  margin: 0;
}

@media print {
  .no-print {
    display: none;
  }

  .print-ignore {
    margin: 0 !important;
    padding: 0 !important;
    overflow: visible;
  }

  .printable-paper {
    margin: 0 auto;
    display: auto;
  }
}